<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark"> <!-- bottom bar partial on every webpage -->
  <h6 class="navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
</nav>